{{template "header" .}}
<div class="px-2">
  <h1 class="py-4 text-4xl semibold tracking-tight font-mono">
    Contact Page
  </h1>
  <p>
    To get in touch, email me at
    <a href="mailto:jon@calhoun.io" class="">jon@calhoun.io</a>.
  </p>
</div>
{{template "footer" .}}